<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <h5 th:text="'제목 : ' + ${board.title}"></h5>
        </div>
        <div>
          <td th:text="'작성자 : ' + ${board.createdBy}"></td>
          <br><br>
        </div>
        <h5> 내용 </h5>
        <div>
          <dl>
            <dd th:text="${board.content}"></dd>
          </dl>
        </div>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href='/board/boardList/'">목록으로</button>
    <button type="button" class="btn btn-primary"
            th:if="${board.createdBy eq session.username}"
            th:onclick="|location.href='/board/boardUpdate/' + ${board.id}|">수정
    </button>
    <button type="button" class="btn btn-primary" th:if="${board.createdBy eq session.username or session.username eq 'admin'}"
            th:attr="data-board-id=${board.id}" th:onclick="|location.href='/board/boardDelete/' + ${board.id}|">삭제</button>
    <!-- 좋아요 버튼 -->
    <button class="btn btn-sm btn-primary float-right" th:attr="data-board-id=${board.id}" th:onclick="|location.href='/board/boardLike/' + ${board.id}|">
      <span>추천</span>
    </button>
  </div>
  <!-- 댓글 목록 -->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">댓글 목록</h5>
      <ul class="list-group list-group-flush" th:each="comment : ${comments}" th:if="${comment.parent == null}">
        <li class="list-group-item">
          <strong th:text="${comment.getCreatedBy}"></strong>: <span th:text="${comment.content}"></span>
          <!-- 댓글 삭제 버튼 -->
          <button class="btn btn-sm btn-danger float-right"
                  th:if="${comment.createdBy eq session.username or session.username eq 'admin'}"
                  th:attr="data-board-id=${board.id}, data-comment-id=${comment.id}" onclick="deleteComment(this)">삭제</button>
          <!-- 대댓글 목록 -->
          <ul class="list-group list-group-flush mt-2" th:if="${commentRepliesMap.get(comment).size() > 0}">
            <li class="list-group-item" th:each="child : ${commentRepliesMap.get(comment)}">
              - &nbsp;&nbsp;<strong th:text="${child.getCreatedBy}"></strong>: <span th:text="${child.content}"></span>
              <!-- 대댓글 삭제 버튼 -->
              <button class="btn btn-sm btn-danger float-right"
                      th:if="${child.createdBy eq session.username or session.username eq 'admin'}"
                      th:attr="data-board-id=${board.id}, data-comment-id=${comment.id}, data-reply-id=${child.id}" onclick="deleteReply(this)">삭제</button>
            </li>
          </ul>
          <!-- 대댓글 작성 폼 -->
          <div class="reply-form mt-2" style="display: none;">
            <form th:action="@{'/board/boardCommentChild/' + ${comment.id}}" method="post">
              <input type="hidden" th:name="boardId" th:value="${board.id}" />
              <input type="hidden" th:name="parentId" th:value="${comment.id}" />
              <textarea class="form-control" rows="2" name="content" placeholder="대댓글을 작성하세요" onclick="stopPropagation(event)"></textarea>
              <button type="submit" class="btn btn-sm btn-dark mt-1" onclick="stopPropagation(event)">대댓글 작성</button>
            </form>
          </div>
          <!-- 대댓글 작성 폼 끝 -->
        </li>
      </ul>
    </div>
  </div>
  <!-- 댓글 작성 -->
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">댓글 작성</h5>
      <form th:action="@{'/board/boardCommentParent/' + ${board.id}}" method="post">
        <input type="hidden" th:name="boardId" th:value="${board.id}" />
        <textarea class="form-control" id="content" rows="3" name="content" placeholder="댓글을 작성하세요"></textarea>
        <button type="submit" class="btn btn-dark mt-3">댓글 작성</button>
      </form>
    </div>
  </div>
  <!-- 댓글 삭제 스크립트 -->
  <script>
    function deleteComment(button) {
      const commentId = button.getAttribute('data-comment-id');
      const boardId = button.getAttribute('data-board-id');
      if (confirm('댓글을 삭제하시겠습니까?')) {
        location.href = '/board/boardDeleteComment/' + commentId + '?boardId=' + boardId; ; // 실제 삭제 처리 URL로 변경
      }
    }
  <!--  대댓 삭제-->
    function deleteReply(button) {
      const replyId = button.getAttribute('data-reply-id');
      const commentId = button.getAttribute('data-comment-id');
      const boardId = button.getAttribute('data-board-id');
      if (confirm('댓글을 삭제하시겠습니까?')) {
        location.href = '/board/deleteReply/' + replyId + '?boardId=' + boardId; ; // 실제 삭제 처리 URL로 변경
      }
    }
  <!-- 대댓글 스크립트 -->
    function stopPropagation(event) {
      event.stopPropagation();
    }
    document.addEventListener("DOMContentLoaded", function() {
      const replyForms = document.querySelectorAll(".reply-form");
      const commentItems = document.querySelectorAll(".list-group-item");

      commentItems.forEach((commentItem, index) => {
        commentItem.addEventListener("click", () => {
          const replyForm = commentItem.querySelector(".reply-form");
          replyForms.forEach((form) => {
            if (form !== replyForm) {
              form.style.display = "none"; // 다른 대댓글 폼은 숨김
            }
          });
          replyForm.style.display = replyForm.style.display === "none" ? "block" : "none";
        });
      });
    });
  </script>
  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
