<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/member/memberJoinForm" method="post">
        <div class="form-group">
            <label>아이디</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력하세요">
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <div class="form-group">
            <label>이메일</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">회원 가입</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>